* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333;
}

/* Header */

header.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section {
    margin: 70px auto;
}

h2 {
    text-transform: uppercase;
}

.header-inner h1 {
    font-size: 60px;
    color: #007bff;
    text-transform: uppercase;
}

hr {
    border: 0;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    background-color: #007bff;
}

.header span {
    font-weight: bold;
    color: #007bff;
}

.header-inner p,
.header-inner button {
    font-size: 20px;
    margin: 20px;
}

.button {
    background-color: transparent;
    border: 2px solid #007bff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #333;
}

.button:hover {
    background-color: #007bff;
    color: white;
}


/* Navigacja*/

nav {
    position: relative;
    background-color: #007bff;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: center;
    line-height: 60px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: .2s;
}

nav ul li a:hover {
    color: #007bff;
    background-color: white;
}

/* About me */
.photo {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.photo img {
    border-radius: 50%;
}

.about-me p {
    width: 50%;
    margin: 30px auto;
}

/* Portfolio */

.portfolio {
    background-color: #f2f1ed;
    padding: 50px 0;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.portfolio-items a {
    position: relative;
    flex-basis: 25%;
    height: 200px;
}

.portfolio-items a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-item h3 {
    opacity: 0;
    height: 100%;
    width: 100%;
    line-height: 200px;
    position: absolute;
    color: white;
    font-size: 30px;
    transition: .3s;
    background-color: rgba(18, 109, 238, 0.6);
}

.portfolio-item:hover h3 {
    opacity: 1;
}

/* Kontakt */


.form {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

input[type="text"] {
    flex-basis: 45%;
    height: 30px;
    padding: 3px;
}

textarea {
    height: 60px;
    flex-basis: 100%;
    margin-top: 20px;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
}

.form .button {
    margin: 20px auto 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fab {
    font-size: 30px;
    padding: 0 20px;
    color: #007bff;
}

i.fab:hover {
    color: #777;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f1ed;
    height: 10vh;
}
